.show-btn {

    border-radius: 20px;
    background-color: rgb(234, 52, 20);
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 800px;
}

.show-btn:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: rgb(225, 114, 94);

}

.show-time {
    color: rgb(234, 52, 20);
}

.gif-icon {
    width: 20%;
}

.hero-img {
    animation: move 2.5s linear infinite;
}

@keyframes move {
    0% {
        transform: translate(-15px, 0px);
    }

    50% {
        transform: translate(0px, -15px);

    }

    100% {
        transform: translate(-15px, 0px);
    }
}

/* // const url = `http://localhost:5000/services/${showId}`;
// fetch(url, {
//     method: 'PUT',
//     headers: {
//         'content-type': 'application/json'
//     },
//     body: JSON.stringify(updateShow)
// })
//     .then(res => res.json())
//     .then(data=>{
//         if(data.modifiedCount>0){
//             alert('succes')
//             setUpdateShow({});
//         }
//     })
// e.preventDefault(); */