.nav-logo {
    width: 15% !important;

}

.nav-header-link-text {

    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: black;
}

#responsive-navbar-nav a {
    color: black;
}

.logout-button {
    padding: 4px 20px;
    border-radius: 30px;
    color: rgb(234, 52, 20);
    border: 2px solid rgb(234, 52, 20);
    background-color: white;


}

.login-button {
    padding: 3px 40px !important;
    border-radius: 15px;
    font-size: 20px;
    color: rgb(234, 52, 20) !important;
    border: 2px solid rgb(234, 52, 20);
    background-color: white;
    text-align: center;

}

@media only screen and (max-width: 1140px) {
    .logout-button {
        padding: 4px 5px;

    }
}