.event-time-bg {
    background-image: url('../../images/slide1-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    background-attachment: fixed;
    /* opacity: 0.5; */
    /* background-color: black; */

}

.counter-heading {
    width: 40%;
    color: white;
    padding: 10px 7px;
    border-radius: 50px;
}

.event-height {
    height: 400px;
}

.event-time-btn {
    color: rgb(234, 52, 20);
    background-color: black;
}